body {
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-family: Open Sans;
    font-size: 20px;
    
    font-weight: 700;
    padding: 15px 35px;
}

.nav-title {
    color: #181818;


    font-size: 45px;
    font-style: normal;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}
.header{
     background: #FFF8F3;;
}
.banner{
    margin: 30px 30px 30px 150px;
    display: flex;
}
 .banner .profile-pic{ 
    width: 580px;
        height: 676px;}
