body {
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-family: Open Sans;
    font-size: 20px;

    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    padding-top: 118px;
    color: #181818;
    text-align: center;

    font-size: 35px;

    font-weight: 700;

}

.section-descripton {
    border: 150px 168px 234px 145px;
    border: navy;
    padding: 50px 100px 50px 100px;


    color: #757575;
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;


}


.nav-title {
    color: #181818;


    font-size: 45px;
    font-style: normal;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    margin: 30px 30px 30px 150px;
    display: flex;
    justify-content: space-between;
}

.baneer-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 580px;
    height: 676px;
}

.banner-greeting {
    font-size: 45px;
    color: var(--Dark-02, #474747);
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.peragraph {
    color: var(--Dark-03, #757575);

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    width: 585px;
    padding-bottom: 30px;
}

.box {
    width: 1140px;
    height: 550px;
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
    justify-content: space-between;
    margin: 0px auto;
}

main section {
    margin-top: 130px;
}

.about {
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#what-i-do-description {
    border: 150px 168px 234px 145px;
    border: navy;
    padding: 30px 500px;


    color: #757575;
    text-align: center;

    font-size: 18px;


    line-height: 30px;
}

.skills-container {
    display: flex;
    gap: 24px;
    width: 1240px;
    margin: 0 auto;
}

.skill {

    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.resume-title {
    
    color:  #181818;
text-align: center;
 
font-size: 35px;
 
font-weight: 700;
 
}

.resume-column-title {
    color: #474747;

    font-size: 30px;
    font-style: normal;
    font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 50px;
    width: 1240px;
    margin: 0 auto;
}
.resume-item-institute{
    color:  #757575;
 
font-size: 20px;
 
font-weight: 600;
 
}
.resume-item-description{
    color:#757575;
 
font-size: 16px;
 
font-weight: 400;
line-height: 28px;  
}

.download-again{
    text-align: center;
   padding: 50px 800px;
   

}